<section>
  <form>
    <div>
      <label>Endereço</label>
    </div>
    <div>
      CEP
      <input type="text" name="firstname"><br>
    </div>
    <div>
      Logradouro:
      <input type="text" name="lastname">
    </div>
    <div>
      Número
      <input type="text" name="lastname">
    </div>
    <div>
      Complemento
      <input type="text" name="lastname">
    </div>
    <div>
      Bairro
      <input type="text" name="lastname">
    </div>
    <div>
      Município
      <input type="text" name="lastname">
    </div>
    <div>
      UF
      <input type="text" name="lastname">
    </div>


  </form>
</section>
